
//- mixin Card(id)  
.card
    .card-header 
        .card-profile 
            img(src='/assets/icon/pig-profile.png', style='width:36px')
            p #{data.userName}
        .card-store
            p #{data.storeName}
    img(src=data.photo, style='width:100%')
    //- +TagSelect(tags, 'card')
    .tag-layout#main-tag-layout
        .main-tag(id=`_tag_`)
            p #123
    .card-review 
        p #{data.review}
    .card-reply 
        p 댓글 15개
        

