.modal.fade.show#staticBackdrop(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
    .modal-dialog 
        .modal-content 
            .modal-header 
                h1.modal-title 댓글
                button.btn-close(data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                ol.list-group 
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다    
                    li.list-group-item.d-flex.justify-content-between-align-items-start 
                        img.review-profile-img(src='/assets/icon/pig-profile.png')
                        .ms-2.me-auto 
                            .fw-bold 이지지
                            span 댓글 내용입니다              
                .add-reply-section            
