include tag.pug
    
style
    include tag-select.scss 

mixin TagSelect(tags, type)
    if type == 'main'
        .tag-layout(id="main-tag-layout")
            each tag in tags
                +Tag(tag, false, type)
    else 
        .tag-layout 
            each tag in tags
                +Tag(tag, false, type)
    
            