style
    include tag.css

mixin Tag(tag, selected, type)
    if type === 'main'
        .main-tag(id=`main_tag_${tag.tagId}`)
            p ##{tag.tagName}
    else if type === 'card'
        .card-tag(id=`card_tag_${tag.tagId}`)
            p ##{tag.tagName}
        