extends layout

block top
  #main-top
    a#main-hello(href="/")
      img(src='assets/icon/back.png' style="width:2rem;height:2rem;margin-right:10px")
      p 새로운 가게 등록하기
block body
  #add-review-layout(hx-get="/add/tagList" hx-trigger="load" hx-swap="innerHTML" hx-target=".tag-layout.card")
    form.add-picture(enctype = "multipart/form-data" name="imgs")
      img#add-icon-button(src='assets/icon/add.png')
      input.img#img(type="file" name="img" multiple)
      p 사진 추가하기
    form.review-form(hx-post="/add/review" hx-include="form.add-picture" hx-swap="none" enctype = "multipart/form-data"
    hx-on::after-request="alert('저장되었습니다.'); location.href = '/';")
      input.form-input-text(type="text" name="storeName" placeholder="가게명을 입력해주세요")
      //- input.form-input-text(type="text", name="tst", placeholder="전화번호")
      //- input.form-input-text(type="text", name="tst", placeholder="주소")
      //- input.form-input-text(type="text", name="tst", placeholder="네이버지도 url을 입력해주세요") 
      input.form-input-text#tagIds(type="text", name="tagIds" placeholder="태그를 선택해주세요" readonly)
      .tag-layout.card
      textarea.form-input.textarea(name='reviewContent' placeholder="리뷰를 입력해주세요")
      .save-button-section 
        button.save-button(type="submit") 저장