doctype html
html
  head
    include import
    title 킁킁
  body
    #base-layout(hx-push-url="/")
        #main-top
            a#main-hello(href="/" hx-boost="true")
                img(src='assets/icon/back.png' style="width:2rem;height:2rem;margin-right:10px")
                p 새로운 가게 등록하기
        #add-review-layout
            .add-picture
                img#add-icon-button(src='assets/icon/add.png')
                p 사진 추가하기
            form.review-form(hx-post="/add/review" hx-trigger="submit" hx-swap="none" hx-on::before-request="handleAfterRgister()")
                input.form-input-text(type="text" name="storeName" placeholder="가게명을 입력해주세요")
                //- input.form-input-text(type="text", name="storeName", placeholder="전화번호")
                //- input.form-input-text(type="text", name="storeName", placeholder="주소")
                //- input.form-input-text(type="text", name="url", placeholder="네이버지도 url을 입력해주세요") 
                input.form-input-text(type="text", name="tagIds" id="tagIds" placeholder="태그를 선택해주세요" readonly)
                .tag-layout.card(hx-get="/add/tagList" hx-trigger="load" hx-swap="innerHTML")
                textarea.form-input.textarea(name='reviewContent' placeholder="리뷰를 입력해주세요")
                .save-button-section 
                    button.save-button(type="submit") 저장
