doctype html
html
  head
    script(src='https://unpkg.com/htmx.org@1.9.5')
    title My HTMX Project
  body
    h1 Welcome to My HTMX Project
    button(hx-post="/test" hx-swap="outerHTML") test btn
    br
    button(hx-post="/dbtest" hx-swap="outerHTML") dbtest btn
