doctype html
html
  head
    style
      include index.css
    script(src='https://unpkg.com/htmx.org@1.9.5')
    title 킁킁
    include components/tag-select.pug
    include components/card-layout.pug
    script 
      include ../src/functions/tag-select.js
  body
    #base-layout
      #main-top(hx-get="/user" hx-trigger="load" hx-target="#main-hello" hx-swap="innerHTML")
        p#main-hello
        img(src='/assets/icon/pig-profile.png', style='width:50px')
      +TagSelect(tags.data, 'main')
      +CardListLayout(reviews.data)
      
    //- h1 Welcome to My HTMX Project
    //- button(hx-post="/test" hx-swap="outerHTML") test btn
    //- br
    //- button(hx-post="/dbtest" hx-swap="outerHTML") dbtest btn
