doctype html
html
  head
    style
      include style
    script(src='https://unpkg.com/htmx.org@1.9.5')
    title 킁킁
    //- include components/tag-select.pug
    //- include components/card-layout.pug
    script 
      include ../src/functions/tag-select.js
  body
    #base-layout
      #main-top(hx-get="/user" hx-trigger="load" hx-target="#main-hello" hx-swap="innerHTML")
        p#main-hello
        img(src='/assets/icon/pig-profile.png', style='width:50px')
      .tag-layout(hx-get="/tagdetail" hx-trigger="load"  hx-swap="innerHTML")
      #CardListLayout(hx-get="/review" hx-trigger="load" hx-swap="innerHTML")
      
