doctype html
html
  head
    title 킁킁
    script(src='https://unpkg.com/htmx.org@1.9.5')
    script
      include ../src/functions/tag-select.js
    style
      include style
  body
    #base-layout
      #main-top
        p#main-hello(hx-get="/user" hx-trigger="load")
        #main-top-add 
          img(src='/assets/icon/add.png', style='width:1.65rem;height:1.65rem')
          p(htmx-get="/add-review" hx-boost="true") 가게 추가하기
      .tag-layout#main-tag-layout(hx-get="/tagdetail" hx-trigger="load")
      #card-list-layout(hx-get="/reviews" hx-trigger="load")
      
