doctype html
html
  head
    include import
    title 킁킁
  body
    #base-layout
      #main-top
        p#main-hello(hx-get="/user" hx-trigger="load")
        a#main-top-add(href="/add-review" hx-boost="true")
          img(src='/assets/icon/add.png', style='width:1.65rem;height:1.65rem')
          p 가게 추가하기
      .tag-layout.main(hx-get="/tagdetail" hx-trigger="load")
      #card-list-layout(hx-get="/reviews" hx-trigger="load")
      
