doctype html
html
  head
    script(src='https://unpkg.com/htmx.org@1.9.5')
    script
      include ../dist/src/functions/tag-select.js
      include ../dist/src/functions/add-review.js
    style
      include style/index.scss
      include style/tag-select.scss
      include style/tag.scss
      include style/card-layout.scss
      include style/card.scss
      include style/add-review.scss
    title 킁킁
  body
    #base-layout(hx-boost="true")
      block top
      block body
      block footer