#add-review-layout {
  width: 95%;
  border-radius: 25px 25px 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.add-picture {
  border: 3px dashed #dbdbdb;
  width: 850px;
  height: 850px;
  min-width: 850px;
  min-height: 850px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px;
  .new-image {
    width: 260px;
    height: 260px;
    border: dashed 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 4px;
    position: relative;
    .delete-button {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      position: absolute;
      left: 210px;
      bottom: 210px;
    }
  }
  #img-upload {
    display: none;
  }
  /* 사진 등록 영역 */
  #add-picture-button {
    width: 260px;
    height: 260px;
    border: dashed 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
  }
}

.add-picture img {
  width: 100%;
  height: 100%;
}
.add-picture p {
  font-family: "Noto Looped Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #696969;
}

/* form 영역 */
.review-form {
  width: 850px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  #add-tag-list {
    width: 95%;
    height: 120px;
  }
}

/* input 태그 영역 */
.form-input-text {
  width: 95%;
  height: 95px;
  border: 3px solid #e6e6e6;
  border-radius: 30px;
  font-size: 2rem;
  padding-left: 41px;
  margin-bottom: 20px;
}

.form-input-text::placeholder {
  font-family: "Noto Looped Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 22px;
}

.form-input.textarea {
  width: 95%;
  height: 430px;
  border: 3px solid #e6e6e6;
  border-radius: 30px;
  padding-left: 41px;
  padding-top: 34px;
  font-size: 2rem;
  font-weight: 400;
  &::placeholder {
    font-family: "Noto Looped Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 22px;
  }
}

#input-tag-p {
  width: 95%;
  font-size: 28px;
  height: 28px;
  color: #df7f00;
  margin-left: 10px;
}

#add-tag-list {
  border-radius: 30px;
  border: 3px solid #e6e6e6;
  margin-bottom: 20px;
}

/* 버튼 영역 */
.save-button-section {
  width: 850px;
  height: 151px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.save-button {
  width: 250px;
  height: 85px;
  background-color: #ffb458;
  color: white;
  border-radius: 40px;
  border: none;

  font-family: "Noto Looped Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 22px;
}
