<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app">  
  <select id="main/user">
    SELECT NAME
    FROM TB_USER_MASTER
    WHERE USER_ID = #{userId}
  </select>

  <select id="main/tags">
    SELECT TAG_ID as tagId
          ,TAG_NAME as tagName
          ,'main' as type
      FROM TB_TAG_MASTER
  </select>

  <select id="main/cards">
    SELECT REVIEW_ID AS cardId
    FROM TB_REVIEW_MASTER
    ORDER BY REVIEW_ID DESC
  </select>

  <select id="main/cards/tagId">
    SELECT DISTINCT REVIEW_ID AS cardId
    FROM TB_REVIEW_TAG
    WHERE TAG_ID IN 
    <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
      #{tagId}
    </foreach>
    ORDER BY REVIEW_ID DESC
  </select>

  <select id="card/id">
    SELECT TRM.REVIEW_ID as reviewId
          ,TRM.REVIEW_CONTENT as review
          ,TSM.STORE_NAME as storeName
          ,'/assets/photos/mock-picture.png' as photo
          ,TUM.NAME as userName
      FROM TB_REVIEW_MASTER TRM 
      LEFT OUTER JOIN TB_STORE_MASTER TSM ON TRM.STORE_ID  = TSM.STORE_ID  
      LEFT OUTER JOIN TB_IMAGE_MASTER TIM  ON TRM.REVIEW_ID  = TIM.REVIEW_ID
      LEFT OUTER JOIN TB_USER_MASTER TUM ON TRM.USER_ID  = TUM.USER_ID
    WHERE 1=1
      AND TRM.REVIEW_ID = #{id}
  </select>

  <select id="card/tags/id">
    SELECT TRT.TAG_ID as tagId
          ,TTM.TAG_NAME as tagName
          ,NVL((SELECT 'selected'
              FROM TB_USER_REVIEW_TAG TURT 
             WHERE TRT.REVIEW_ID = TURT.REVIEW_ID
               AND TTM.TAG_ID = TURT.TAG_ID
               AND TURT.USER_ID = #{userId} ), '') AS likes
          ,'card' as type 
      FROM TB_REVIEW_TAG TRT
      LEFT OUTER JOIN TB_TAG_MASTER TTM ON TRT.TAG_ID = TTM.TAG_ID 
     WHERE TRT.REVIEW_ID = #{id}
  </select>

  <insert id="like">
    INSERT INTO TB_USER_REVIEW_TAG(REVIEW_ID,USER_ID,TAG_ID)
    VALUES (#{reviewId},#{userId},#{tagId})
  </insert>

  <delete id="unlike">
    DELETE FROM TB_USER_REVIEW_TAG
     WHERE REVIEW_ID = #{reviewId}
       AND USER_ID = #{userId}
       AND TAG_ID = #{tagId}
  </delete>

  <select id="add/tagList">
    SELECT TAG_ID as tagId
          ,TAG_NAME as tagName
          ,'add' as type
      FROM TB_TAG_MASTER
  </select>

  <insert id="add/review/store">
    INSERT INTO TB_STORE_MASTER
      (STORE_NAME)
    VALUES(#{storeName})
  </insert>

  <insert id="add/review">
    INSERT INTO TB_REVIEW_MASTER
      (STORE_ID, USER_ID, REVIEW_CONTENT)
    VALUES(#{storeId}, #{userId}, #{reviewContent})
  </insert>

  <insert id="add/review/tag">
    INSERT INTO TB_REVIEW_TAG
      (REVIEW_ID, TAG_ID)
    VALUES
    <foreach collection="tagIds" item="tagId" separator=",">
      (#{reviewId}, #{tagId})
    </foreach>
  </insert>
</mapper>