<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app">  

  <insert id="user">
    INSERT INTO TB_USER_MASTER
      (EMAIL, NAME, TEAM, IMAGE)
    VALUES
      (#{email}, SUBSTRING_INDEX(#{slackId},'_',2),SUBSTRING_INDEX(#{slackId},'_',1),#{slcakImage})
  </insert>

  <select id="main/user">
    SELECT NAME as name
    FROM TB_USER_MASTER
    WHERE USER_ID = #{userId}
  </select>

  <select id="main/tags">
    SELECT TAG_ID as tagId
          ,TAG_NAME as tagName
          ,'main' as type
      FROM TB_TAG_MASTER
  </select>

  <!-- <select id="main/cards">
    SELECT REVIEW_ID AS cardId
    FROM TB_REVIEW_MASTER
    ORDER BY REVIEW_ID DESC
  </select> -->

  <select id="main/cards">
    SELECT DISTINCT REVIEW_ID AS cardId
    FROM TB_REVIEW_TAG
    <if test="tagIds.length">
      WHERE TAG_ID IN 
      <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
        #{tagId}
      </foreach>
    </if>
    ORDER BY REVIEW_ID DESC
  </select>

  <select id="card/id">
    SELECT TRM.REVIEW_ID as reviewId
          ,TRM.REVIEW_CONTENT as review
          ,TSM.STORE_NAME as storeName
          ,TUM.NAME as userName
          ,(SELECT COUNT(*) FROM TB_IMAGE_MASTER TIM WHERE TRM.REVIEW_ID  = TIM.REVIEW_ID) AS imageCount
          ,(SELECT COUNT(*) FROM TB_REPLY_MASTER TRPM WHERE TRM.REVIEW_ID = TRPM.REVIEW_ID ) AS replyCount
      FROM TB_REVIEW_MASTER TRM 
      LEFT OUTER JOIN TB_STORE_MASTER TSM ON TRM.STORE_ID  = TSM.STORE_ID  
      LEFT OUTER JOIN TB_IMAGE_MASTER TIM  ON TRM.REVIEW_ID  = TIM.REVIEW_ID
      LEFT OUTER JOIN TB_USER_MASTER TUM ON TRM.USER_ID  = TUM.USER_ID
      LEFT OUTER JOIN TB_REPLY_MASTER TRPM ON TRM.REVIEW_ID = TRPM.REVIEW_ID
     WHERE 1=1
       AND TRM.REVIEW_ID = #{id}
  </select>

  <select id="card/images/id">
    SELECT IMAGE_DATA as imageData
          ,MIMETYPE as mimetype
      FROM TB_IMAGE_MASTER TIM 
     WHERE 1=1
       AND TIM.REVIEW_ID = #{id}
       AND TIM.IMAGE_SEQ = #{seq}
     ORDER BY IMAGE_SEQ ASC
  </select>

  <select id="card/tags/id">
    SELECT TRT.TAG_ID as tagId
          ,TTM.TAG_NAME as tagName
          ,NVL((SELECT 'selected'
              FROM TB_USER_REVIEW_TAG TURT 
             WHERE TRT.REVIEW_ID = TURT.REVIEW_ID
               AND TTM.TAG_ID = TURT.TAG_ID
               AND TURT.USER_ID = #{userId} ), '') AS likes
          ,'card' as type 
      FROM TB_REVIEW_TAG TRT
      LEFT OUTER JOIN TB_TAG_MASTER TTM ON TRT.TAG_ID = TTM.TAG_ID 
     WHERE TRT.REVIEW_ID = #{id}
  </select>

  <select id="card/replies/id">
    SELECT USER_ID as userId
          ,REPLY_CONTENT as replyContent
          ,REVIEW_ID as reviewId
      FROM TB_REPLY_MASTER
     WHERE REVIEW_ID = #{id}
     ORDER BY DATA_INS_DATE DESC
  </select>

  <insert id="add/replies">
    INSERT INTO TB_REPLY_MASTER(REVIEW_ID,USER_ID,REPLY_CONTENT)
    VALUES (#{reviewId},#{userId},#{replyContent})
  </insert>

  <insert id="like">
    INSERT INTO TB_USER_REVIEW_TAG(REVIEW_ID,USER_ID,TAG_ID)
    VALUES (#{reviewId},#{userId},#{tagId})
  </insert>

  <delete id="unlike">
    DELETE FROM TB_USER_REVIEW_TAG
     WHERE REVIEW_ID = #{reviewId}
       AND USER_ID = #{userId}
       AND TAG_ID = #{tagId}
  </delete>

  <select id="add/tagList">
    SELECT TAG_ID as tagId
          ,TAG_NAME as tagName
          ,'add' as type
      FROM TB_TAG_MASTER
  </select>

  <insert id="add/review/store">
    INSERT INTO TB_STORE_MASTER
      (STORE_NAME)
    VALUES(#{storeName})
  </insert>

  <insert id="add/review">
    INSERT INTO TB_REVIEW_MASTER
      (STORE_ID, USER_ID, REVIEW_CONTENT)
    VALUES(#{storeId}, #{userId}, #{reviewContent})
  </insert>

  <insert id="add/review/tag">
    INSERT INTO TB_REVIEW_TAG
      (REVIEW_ID, TAG_ID)
    VALUES
    <foreach collection="tagIds" item="tagId" separator=",">
      (#{reviewId}, #{tagId})
    </foreach>
  </insert>

  <insert id="add/review/image" >
    INSERT INTO TB_IMAGE_MASTER
      (REVIEW_ID, IMAGE_SEQ, IMAGE_DATA, ORIGINAL_NAME, MIMETYPE)
    VALUES
      (#{reviewId}, #{index}, ?, #{originalname}, #{mimetype})
  </insert>
</mapper>